*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}




BODY{
    background: url(/img/universo-abstracto_1220x2160_xtrafondos.com.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.bar-principal{
    position: fixed;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    transition: 1s;
    background: rgb(0, 0, 0, .8);
}
.down{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: 0.3s;
    background: rgba(0, 0, 0, .3);
}
.bar-principal .logo{
    width: 20%;
}
.bar-principal .logo img{
    width: 100%;
}
.bar-principal .bar-container{
    width: 80%;
    display: flex;
    justify-content: end;
}
.bar-principal .bar-container a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 5px;
    margin: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    transition: 1s;
}
.bar-principal .bar-container a:hover{
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 3px rgba(229, 255, 0, 0.3);
    background: rgba(255, 217, 0, 0.4);
    color: rgb(255, 255, 255);
}
.bar-principal .bar-container a li{
    font-size: 20px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}









.bar-secundario{
    /* background: linear-gradient(rgb(255, 187, 0),rgb(255, 123, 0),rgba(255, 174, 0, 0.05)); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.bar-secundario .section{
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-items: left; */
    padding: 200px;
}
.bar-secundario .section h1{
    color: white;
    border-radius: 10px 10px 0 0;
    font-size: 58px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    font-variant: small-caps;
    box-shadow: 0px 5px 5px rgba(87, 87, 87, 0.3);
}
.bar-secundario .section p{
    color: white;
    border-radius: 0 0 10px 10px;
    font-size: 22px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-shadow: 0px 5px 5px rgba(87, 87, 87, 0.3);
}









.bar-terciario{
    height: 100%;
    width: 100%;
    /* background: radial-gradient(rgb(255, 230, 0),rgb(255, 187, 0),rgb(255, 123, 0),rgba(255, 174, 0, 0.596)); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* box-shadow: 0px 0px 5px 4px rgba(255, 153, 0, 0.7); */
}
.bar-terciario .containerx{
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 5px rgba(87, 87, 87, 0.3);
    width: 400px;
    height:600px;
    display: inline-block;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin: 5px;
    border-radius: 3px;
    color: white;
}
.bar-terciario .recom{
    height: 650px;
    width: 420px;
    transition: 0.1s;
}
/* .bar-terciario .recom:hover{
    height: 670px;
    width: 440px;
    border-radius: 10px;
} */
.bar-terciario .containerx .titulo{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* background: gray; */
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
}
.bar-terciario .containerx .basic{
    background: radial-gradient(rgb(0, 225, 255), rgb(0, 89, 255));
    color: white;
    border-radius: 10px 10px 100% 100%;
}
.bar-terciario .containerx .recomend{
    background: radial-gradient(rgb(255, 140, 140), rgb(255, 0, 0));
    color: white;
    border-radius: 10px 10px 100% 100%;
}
.bar-terciario .containerx .empre{
    background: radial-gradient(rgb(208, 255, 0), rgb(0, 122, 20));
    color: white;
    border-radius: 10px 10px 100% 100%;
}
.bar-terciario .containerx .price{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* background: gray; */
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.bar-terciario .containerx hr{
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 10px 10px;   
}
.bar-terciario .containerx .price .COP{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    inline-size: 40px;
}
.bar-terciario .containerx .date{
    width: 100%;
    height: 10%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-size: 12px;
    display:flex;
    /* align-items: center; */
    justify-content: center;
    color: rgb(216, 216, 216);
}
.bar-terciario .containerx ol{
    height: 50%;
    width: 100%;
}
.bar-terciario .containerx ol li{
    list-style: none;
    /* background: red; */
    padding: 3px 20px;
}
.bar-terciario .containerx ol li i{
    font-size: 18px;
    padding: 0px 5px;
}
.bar-terciario .containerx ol li .yes{
    color: rgb(0, 255, 0);
}
.bar-terciario .containerx ol li .not{
    color: rgb(255, 0, 0);
}
.bar-terciario .containerx .container-btn{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar-terciario .containerx .container-btn button {
    background: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    border: none;
    align-items: center;
    transition: .5s;
}
.bar-terciario .containerx .container-btn button:hover{
    /* transition: .2s; */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(102, 255, 0, 0.5));
    padding: 15px 20px;
    font-size: 20px;
    /* border-radius: 10px; */
}
.bar-terciario .containerx .container-btn button i{
    font-size: 20px;
    margin: 0 5px;
}








.about-us{
    height: 100%;
    padding: 10px;
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 5px 5px rgba(87, 87, 87, 0.3);
    border-radius: 10px;
}
.about-us .container-aboutus{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.about-us .container-aboutus #titulo{
    font-size: 28px;
}
.about-us .container-aboutus #parrafo{
    padding: 20px;
    font-size: 18px;
}

footer{
    background: black;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .footer-credentials{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .footer-credentials a{
    color: white;
    font-size: 19px;
    margin: 5px;
    padding: 5px;
    /* background: red; */
}
footer .footer-credentials a li{
    margin: 10px;
}
footer .footer-credentials #inst{
    color:rgb(255, 61, 152);
}
footer .footer-credentials #fb{
    color:rgb(0, 119, 255);
}






@media (max-width: 1100px) {
    .bar-terciario .containerx{
        padding: 10px;
        margin: 10px;
    }
}
@media (max-width: 1000px) {
    .bar-secundario .section{
        padding: 0px;
    }
    .bar-secundario .section h1{
        font-size: 38px;
    }
    .bar-secundario .section p{
        font-size: 20px;
    }
    .bar-terciario{
        flex-direction: column;
    }
}
@media (max-width: 865px) {
    .bar-principal .bar-container a p{
        font-size: 0px;
    }
    .bar-principal .bar-container a li{
        font-size: 28px;
    }
    .bar-principal .logo{
        width: 30%;
    }
}
@media (max-width: 500px) {
    .bar-principal .logo{
        display: none;
    }
    .bar-principal .bar-container a{
        margin: auto;
    }
}